<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title> @ViewData["Title"] </title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="LocalStorage" class="nav-link">LocalStorage</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="SessionStorage" class="nav-link">SessionStorage</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Cookies" class="nav-link">CookiesStorage</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
